<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span
        class="mat-h1"
        style="
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
        "
      >
        Sala: {{ nameRoom }}
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span
        class="mat-h2"
        style="
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
        "
      >
        Miembros:
        <span *ngFor="let participant of participants; let i = index"
          ><button class="circle-red"></button> {{ participant.username
          }}{{
            i + 1 === participants.length
              ? ""
              : i === participants.length - 2
              ? " y "
              : ", "
          }}</span
        >
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="example-button-row">
        <button mat-raised-button [routerLink]="['./dashboard']" style="margin-right: 10px;">Volver</button>
        <button mat-raised-button color="accent" style="margin-right: 10px;" (click)="exportDiagram($event)">Exportar diagrama</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="control-section">
  <div class="palette-section">
    <ejs-symbolpalette
      height="850px"
      [palettes]="symbolPalette"
      [symbolHeight]="50"
      [symbolWidth]="50"
      [enableSearch]="true"
      [symbolPreview]="symbolPreviewSettings"
    ></ejs-symbolpalette>
  </div>
  <div class="diagram-section">
    <ejs-diagram
      #diagram
      id="diagram"
      width="100%"
      height="850px"
      (positionChange)="sendToServer($event)"
      (sizeChange)="sendToServer($event)"
      (collectionChange)="sendToServer($event)"
      (expandStateChange)="sendToServer($event)"
      (rotateChange)="sendToServer($event)"
      (sourcePointChange)="sendToServer($event)"
      (targetPointChange)="sendToServer($event)"
      (click)="sendToServer($event)"
    ></ejs-diagram>
  </div>
</div>
